<div fxFlex fxLayout="column"> 
  <mat-toolbar color="accent">
    <div  style="padding: 20px 0px!important;">
        <a id="logo" routerLink="/">Candy Store</a>
    </div>

    <div fxFlex fxLayoutAlign="end" fxLayoutGap="25px">
        <a routerLink="/products">Products</a>
        <a routerLink="/users">Profile</a>
        <a routerLink="/cart">Cart</a>
        <a routerLink="/signup">SignUp</a>
        <a routerLink="/login">LogIn</a>
        <!-- <a *ngIf="!isloged" routerLink="/signup">SignUp</a> -->
        <!-- <a *ngIf="!isloged" routerLink="/login">LogIn</a> -->
        <!-- <a *ngIf="isloged" routerLink="/login">LogOut</a> -->
    </div>

  </mat-toolbar>
  <router-outlet></router-outlet>
  <div fxFlex id="footer" fxLayoutAlign="center center">
    <h2>© 2021 Candy Store. All Rights Reserved.</h2>
  </div>
</div>